<!-- Header start -->
<header class="bg-customGradient text-orange-yellow fixed w-full z-10">
    <div class="container">
        <div class="py-6">
            <ul class="flex items-center justify-center">
                <li>
                    <a href="javascript:void(0)"
                        class="text-tiny xs:text-tiny-xs sm:text-tiny-sm md:text-tiny-md lg:text-tiny-lg font-normal font-lilita text-orange-yellow md:px-4 xs:px-2 relative after:absolute after:right-0 after:bottom-0 after:top-0 after:h-full after:w-1 after:bg-orange-yellow after:rounded-md">Home</a>
                </li>
                <li>
                    <a href="javascript:void(0)"
                        class="text-tiny xs:text-tiny-xs sm:text-tiny-sm md:text-tiny-md lg:text-tiny-lg font-normal font-lilita text-orange-yellow md:px-4 xs:px-2 relative after:absolute after:right-0 after:bottom-0 after:top-0 after:h-full after:w-1 after:bg-orange-yellow after:rounded-md">Sobre</a>
                </li>
                <li>
                    <a href="javascript:void(0)"
                        class="text-tiny xs:text-tiny-xs sm:text-tiny-sm md:text-tiny-md lg:text-tiny-lg font-normal font-lilita text-orange-yellow md:px-4 xs:px-2 relative after:absolute after:right-0 after:bottom-0 after:top-0 after:h-full after:w-1 after:bg-orange-yellow after:rounded-md">Cadastro</a>
                </li>
                <li>
                    <a href="javascript:void(0)"
                        class="text-tiny xs:text-tiny-xs sm:text-tiny-sm md:text-tiny-md lg:text-tiny-lg font-normal font-lilita text-orange-yellow md:px-4 xs:px-2">Login</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<!-- Header end -->

<!-- Main content start -->

<!-- Hero section start -->
<section class="xs:h-[90vh] md:h-[87vh] lg:h-[100vh] pt-[100px] xs:bg-xs-size-hero sm:bg-sm-size-hero md:bg-md-size-hero lg:bg-lg-size-hero bg-hero relative bg-no-repeat">
    <div class="container  xs:px-11 md:px-4 absolute top-[50%] left-[50%] -translate-y-1/2 -translate-x-1/2 z-0">
        <div class="flex items-center justify-between flex-col md:flex-row gap-4 ">
            <div class="max-w-[500px] col-span-1">
                <h1
                    class="uppercase text-white text-huge xs:text-huge-xs sm:text-huge-sm md:text-huge-md lg:text-huge-lg xl:text-huge-xl leading-tight font-lilita font-medium mb-14">
                    CIÊNCIAS
                    HUMANAS</h1>
                <button
                    class="px-7 py-2 bg-orange-yellow rounded-full text-white text-tiny xs:text-tiny-xs sm:text-tiny-sm md:text-tiny-md lg:text-tiny-lg font-poppins hover:bg-white hover:text-orange-yellow transition ease-in-out delay-150">Começar</button>
            </div>

            <div class="xs:max-w-[340px] md:max-w-[640px] w-full">
                <div class="relative pt-[100%]">
                    <img src="../../../assets/images/hero-img.svg" alt="" class="absolute top-0 left-0 h-full w-full object-contain">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero section end -->

<!-- About section start  -->
<section class="py-[100px] xs:py-[50px] lg:py-[100px]">
    <div class="container xs:px-11 md:px-4">
        <p
            class="text-medium text-justify xs:text-medium-xs sm:text-medium-sm md:text-medium-md lg:text-medium-lg xl:text-medium-xl font-lilita font-normal text-blue-purple mb-8">
            Prova com 10 questões gerais sobre a matéria de ciências humanas.
        </p>
        <p
            class="text-medium text-justify xs:text-medium-xs sm:text-medium-sm md:text-medium-md lg:text-medium-lg xl:text-medium-xl font-lilita font-normal text-blue-purple mb-8">
            O que são as Ciências Humanas?
        </p>
        <p
            class="text-medium text-justify xs:text-medium-xs sm:text-medium-sm md:text-medium-md lg:text-medium-lg xl:text-medium-xl font-lilita font-normal text-blue-purple">
            A área das Ciências Humanas é o conjunto de ciências que tem como objeto de estudo o ser humano. Entre as
            ciências da área de humanas, estão a Filosofia, Sociologia ou Ciências Sociais, História, Geografia, Letras,
            Teologia, Antropologia, Comunicação Social, Psicologia, Linguística, Artes, entre outras.
        </p>
    </div>
</section>
<!-- About section end  -->

<!-- Contact start -->
<section class="md:pb-[178px] xs:pb-[90px]">
    <div class="container xs:px-11 md:px-4">
        <div>
            <form>
                <div class="max-w-[670px] mx-auto">
                    <h2
                        class="text-big xs:text-big-xs sm:text-big-sm md:text-big-md lg:text-big-lg xl:text-big-xl text-center font-normal font-lilita text-blue-purple xs:mb-10 md:mb-14">
                        Cadastro</h2>
                    <form>
                        <div class="xs:mb-3 md:mb-14">
                            <input id="name" type="text"
                                class="p-2 border rounded-full w-full text-center text-tiny xs:text-tiny-xs sm:text-tiny-sm md:text-tiny-md lg:text-tiny-lg font-light bg-lavender-shade text-white placeholder:text-white focus-visible:outline-none"
                                placeholder="Nome 15" />
                        </div>

                        <div class="xs:mb-3 md:mb-14">
                            <input id="email" type="email"
                                class="p-2 border rounded-full w-full text-center text-tiny xs:text-tiny-xs sm:text-tiny-sm md:text-tiny-md lg:text-tiny-lg font-light bg-lavender-shade text-white placeholder:text-white focus-visible:outline-none"
                                placeholder="Email" />
                        </div>

                        <div class="xs:mb-3 md:mb-14">
                            <input id="phone" type="text"
                                class="p-2 border rounded-full w-full text-center text-tiny xs:text-tiny-xs sm:text-tiny-sm md:text-tiny-md lg:text-tiny-lg font-light bg-lavender-shade text-white placeholder:text-white focus-visible:outline-none"
                                placeholder="senha" />
                        </div>

                        <div class="mx-auto text-center">
                            <a href="javascript:void(0)"
                                class="text-tiny xs:text-tiny-xs sm:text-tiny-sm md:text-tiny-md lg:text-tiny-lg font-thin font-lilita text-center text-blue-purple">já tem
                                uma conta?</a>
                        </div>

                        <button type="submit"
                            class="px-10 py-1 bg-orange-yellow rounded-full text-white font-light text-tiny xs:text-tiny-xs sm:text-tiny-sm md:text-tiny-md lg:text-tiny-lg font-poppins mx-auto block xs:w-full md:w-auto">
                            Submit
                        </button>
                    </form>
                </div>

            </form>
        </div>
    </div>
</section>
<!-- Contact end -->

<!-- Footer start -->
<footer class="bg-footer xs:pt-[90px] md:pt-[146px] bg-no-repeat bg-bottom bg-size">
    <div>
        <div class="container">
            <div class="text-white xs:max-w-[120px] sm:max-w-[180px] md:max-w-none">
                <p class="text-tiny xs:text-tiny-xs sm:text-tiny-sm md:text-tiny-md lg:text-tiny-lg font-medium">&#169; Vinícius Neves Costa</p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->

<!-- Main content end -->